	<style> </style>
	<page></page>
	<script>
	  var __setCssStartTime__ = Date.now();
	  __wxAppCode__['plugin-private://wx94a6522b1d640c3b/components/drama-feed-list/person-operation/person-operation.wxss']();
	  var __setCssEndTime__ = Date.now();
	  (function() {
	    var gf = $gwx_wx94a6522b1d640c3b('./components/drama-feed-list/person-operation/person-operation.wxml');
	    if (window.__wxAppCodeReadyCallback__) {
	      window.__wxAppCodeReadyCallback__(gf);
	    } else {
	      document.dispatchEvent(new CustomEvent("generateFuncReady", {
	        detail: {
	          generateFunc: gf
	        }
	      }));
	    }
	  })();

	</script>
